.react-rater {
  display: inline-block;
  line-height: normal;
}

.react-rater > * {
  display: inline-block;
  @apply text-5xl mb-4;
}

.react-rater-star {
  cursor: pointer;
  position: relative;
  @apply text-blue-100 select-none;
}

.react-rater-star.will-be-active {
  @apply text-blue-600;
}

.react-rater-star.is-active {
  @apply text-blue-500;
}

.react-rater-star.is-active-half:before {
  @apply text-primary-900;
  content: '\2605';
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.react-rater-star.is-disabled {
  cursor: default;
}
