@media (prefers-color-scheme: dark) {
  .footer-logo {
    background: no-repeat center / contain url("../../../public/image/advantex/advantex-dark-mode.png");
    height: 2rem;
    width: 10rem;
  }
}

@media (prefers-color-scheme: light) {
  .footer-logo {
    background: no-repeat center / contain url("../../../public/image/advantex/advantex-light-mode.png");
    height: 2rem;
    width: 10rem;
  }
}
